<template lang="pug">
	section.page-not-found
		span.error-number 404
		span.error-message Page Not Found
</template>

<script>
	export default {
		name: 'NotFound'
	};
</script>

<style lang="scss" scoped>
	section.page-not-found {
		padding: 0 1rem;
		text-align: center;

		span {
			display: block;

			&.error-number {
				font-size: 5rem;
				font-weight: 200;
			}
		}
	}
</style>
