<template lang="pug">
	section.movie-lists-wrapper
		div.list-wrapper(v-for="set in frontPageMovieSets", :key="set.title")
			h2 {{ set.title }}
			MovieList(:movies="set.movies")
</template>

<script>
	import cacheLimit from '~/globals/cache-limit';

	const MoonLoader = async () => await import('vue-spinner/src/MoonLoader');
	const MovieList = async () => await import('~/views/MovieList');

	export default {
		name: 'Home',
		components: { MoonLoader, MovieList },
		computed: {
			cacheIsOutdated () { return Date.now() - this.cacheTimestamp > cacheLimit; },
			cacheTimestamp () { return this.$store.state.cacheTimestamp; },
			frontPageMovieSets () { return this.$store.state.frontPageMovieSets; }
		},
		watch: {
			cacheIsOutdated (val, oldVal) { if (val && !oldVal) this.$store.dispatch('updateFrontPageCache'); }
		},
		mounted () {
			if (this.cacheIsOutdated) this.$store.dispatch('updateFrontPageCache');
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/variables";

	section.movie-lists-wrapper {
		display: flex;
		flex-wrap: wrap;

		div.list-wrapper {
			flex: 1 1 ($content-width / 2);

			h2 {
				font-weight: 600;
				text-align: center;
				font-size: 1.25rem;
				line-height: 1.6em;
				margin: 0;
				margin-bottom: 1rem;
			}
		}
	}

	div.v-spinner {
		display: flex;
		justify-content: center;
		padding: 2rem;
	}
</style>
