<template lang="pug">
	section.content-wrapper
		h2 Privacy Policy
		p
			| Users of this site are not required to provide any personal information
			| in exchange for access.  No logs of any kind are recorded or kept.
		p
			| This site does utilize the official Rotten Tomatoes website for data,
			| with the user's search terms being sent as a request.  No personally
			| identifiable information is provided to Rotten Tomatoes beyond what your
			| browser provides by default.
		p
			| Further, this site and all code contained within is published under the
			a(href="https://www.gnu.org/licenses/gpl-3.0.en.html")  GNU General Public License v3
			|  and hosted on
			a(href="https://gitlab.com/gabeotisbenson/rt_lite")  GitLab
			| . All users are free to inspect the code to verify the claims presented
			| here.
</template>

<script>
	export default {
		name: 'Privacy'
	};
</script>

<style lang="scss" scoped>
	section.content-wrapper {
		padding: 0 1rem;

		h2 {
			font-weight: 600;
			font-size: 1.25rem;
			line-height: 1.6em;
			margin: 1rem 0;
		}

		p { margin: 1rem 0; }
	}
</style>
