<template lang="pug">
	div.banner(v-if="bannerVisible")
		div.heading
			strong.greeting Hey!
			button.dismiss-trigger(@click="dismissBanner", aria-label="Dismiss"): XCircleIcon
		p rt_lite is now available as a progressive web app, which is
			|  techno-babble for "you can install this site as an app on your phone"!
			|  If that sounds like something you'd like to do, just use the button
			|  below to get going!
		button.install-trigger(@click="promptAppInstall") Install
</template>

<script>
	import Cookies from 'js-cookie';
	import isRunningAsApp from '~/globals/is-running-as-app';
	import { XCircleIcon } from 'vue-feather-icons';

	const BANNER_COOKIE_PREFERENCE = 'hide-pwa-install-banner';
	const INSTALL_EVENT = 'beforeinstallprompt';

	export default {
		name: 'PWABanner',
		components: { XCircleIcon },
		data () {
			return {
				bannerVisible: false,
				deferredPrompt: null
			};
		},
		mounted () {
			if (!isRunningAsApp && !Cookies.get(BANNER_COOKIE_PREFERENCE)) window.addEventListener(INSTALL_EVENT, this.handleInstallEvent);
		},
		methods: {
			dismissBanner () {
				Cookies.set(BANNER_COOKIE_PREFERENCE, true);
				this.bannerVisible = false;
			},
			handleInstallEvent (event) {
				event.preventDefault();
				this.deferredPrompt = event;
				this.bannerVisible = true;
			},
			async promptAppInstall () {
				if (!this.deferredPrompt) return;

				this.deferredPrompt.prompt();

				const { outcome } = await this.deferredPrompt.userChoice;

				if (outcome === 'accepted') this.bannerVisible = false;
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import "~/scss/base16";
	@import "~/scss/variables";

	div.banner {
		background: $base0A;
		color: $base00;
		width: calc(100vw - 2rem);
		max-width: $content-width;
		margin: 1rem auto;
		padding: 1rem;
		border-radius: $standard-border-radius;
		font-size: 1.25rem;
		line-height: 1.6em;

		button,
		button:active { color: inherit; }

		div.heading {
			display: flex;
			justify-content: space-between;
			align-items: center;

			strong.greeting { font-size: 1.25em; }

			button.dismiss-trigger {
				background: transparent;
				border: none;
				cursor: pointer;
			}
		}

		button.install-trigger {
			border: 0.125em solid $base00;
			width: 100%;
			padding: 1rem;
			background: rgba(0, 0, 0, 0.1);
			text-transform: uppercase;
			font-weight: 600;
			border-radius: $standard-border-radius;
			cursor: pointer;

			&:active { background: rgba(0, 0, 0, 0.2); }
		}
	}
</style>
