@import "~/scss/base16";

// Colors
$teal: $base0C;
$red: $base08;
$green: $base0B;
$yellow: $base0A;

// Dark Theme
$fg: $base05;
$bg: $base00;
$fgFaded: $base04;
$bgFaded: $base01;

// Light Theme
// $fg: $base00;
// $bg: $base06;
// $fgFaded: $base01;
// bgFaded: $base05;

// Sizes
// $desktop-width: 1080px;
$desktop-width: 53rem;
$content-width: 54rem;

// Misc.
$standard-border-radius: 0.25rem;
